body {
    background: #d3d3d3;
}

hr {
    color: #222222;
}

.right-div {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 800px;
    width: 100%;
}

.map {
    border-radius:  15px;
}


#intro-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    vertical-align: middle;
}

#intro-text {
    margin-top: 0px;
    font-size: 45px;
    font-weight: 500;
    color: var(--blue);
}

#background-map {
    z-index: -1;
    position: absolute;
    height: 100vmax;
    width: auto;
    max-height: 100vh;
    right: 0;
    
    
     /* ie8 */
}