body {
    background:#f9f8eb;
}

h1 {
    color: #05004e;
    text-align: center;
    margin-top: 50px;

    
    font-family: "Palatino";
    font-size: 60px;
}

h2 {
    color: #05004e;
    text-align: center;

    
    font-family: "Palatino";
    font-size: 30px;
}

hr {
    color: #05004e;
}

.mapcontainer {
    display: none;

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    border-radius: 20px;
}

p {
    color: #76b39d;

    text-align: center;
    font-family: "Palatino";
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bordered {
    border-style: solid;
    border-color: #05004e;
    border-width: 2px;
}